NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:5173

MONGODB_URI=mongodb://localhost:27017/focushub
# or, for Atlas:
# MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/focushub

# The following are added when the Authentication feature is implemented:
# JWT_ACCESS_SECRET=
# JWT_REFRESH_SECRET=
